.widget-right {
    width: 100% !important;
    box-shadow: none !important;
    border: 1px solid black;
}

#login-body {
    background-image: url("../images/login_bg.png");
    background-repeat: no-repeat;
    background-size: cover;  
}